<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="assets/icon/house.svg" alt="Home Icon" />
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <img src="assets/icon/radio.svg" alt="Radio Icon" />
    </ion-tab-button>
    <ion-tab-button tab="library">
      <img src="assets/icon/library.svg" alt="Library Icon" />
    </ion-tab-button>
    <ion-tab-button tab="search">
      <img src="assets/icon/search.svg" alt="Search Icon" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
